<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="oBrowser2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="oBrowser2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <oBrowser2.Properties.Settings>
            <setting name="refreshRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="refreshRateMax" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sms" serializeAs="String">
                <value />
            </setting>
            <setting name="summerTimed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userid" serializeAs="String">
                <value />
            </setting>
            <setting name="pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="useFireFox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FireFoxDir" serializeAs="String">
                <value />
            </setting>
            <setting name="eventSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="showInLeftBottom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="expedition" serializeAs="String">
                <value>||</value>
            </setting>
            <setting name="resCollecting" serializeAs="String">
                <value>|||||</value>
            </setting>
            <setting name="attackHash" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpmail" serializeAs="String">
                <value />
            </setting>
            <setting name="fleetSaving" serializeAs="String">
                <value>|||</value>
            </setting>
            <setting name="fleetMoving" serializeAs="String">
                <value>||||||||</value>
            </setting>
            <setting name="fleetMoving2" serializeAs="String">
                <value>||||||||</value>
            </setting>
            <setting name="autoFleetSaving" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="ogDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="orgUniNames" serializeAs="String">
                <value>capella:103|draco:104|electra:105</value>
            </setting>
        </oBrowser2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <oBrowser2.Properties.Settings>
            <setting name="oBrowser2_oBStatSvc_oBStatService" serializeAs="String">
                <value>http://61.74.158.83/obstat/oBStatService.asmx</value>
            </setting>
        </oBrowser2.Properties.Settings>
    </applicationSettings>
</configuration>
