<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- 로그를 기록할 방식: CONSOLE|FILE|MQ, 기본값: FILE -->
		<add key="LogChannel" value="FILE" />
		<!-- 로그를 기록할 최소레벨: DEBUG < INFORMATION < WARNING < ERROR -->
		<add key="LogLevel" value="DEBUG" />
		<!-- 파일 로그를 기록할 루트 디렉토리 -->
		<add key="fileLogPath" value="D:\Temp\HeroTCPRelay" />
		<!-- MSMQ 로그를 송신할 채널 -->
		<add key="MQLogPath" value="FormatName:Direct=OS:.\Private$\MFTPLog" />
		<!-- 영웅 온라인 경로 -->
		<add key="HeroPath" value="D:\Mgame\HeroOnline" />
	</appSettings>
</configuration>