<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NETS_iMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NETS_iMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NETS_iMan.Properties.Settings>
            <setting name="userid" serializeAs="String">
                <value />
            </setting>
            <setting name="pwd" serializeAs="String">
                <value />
            </setting>
            <setting name="font" serializeAs="String">
                <value />
            </setting>
            <setting name="color" serializeAs="String">
                <value />
            </setting>
            <setting name="remPwd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>D:\Temp\NETS-iMan</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mainWndPos" serializeAs="String">
                <value />
            </setting>
            <setting name="mainWndSize" serializeAs="String">
                <value />
            </setting>
            <setting name="showOnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alwaysTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offLoginAlarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="qaPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="formOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="chatOpacity" serializeAs="String">
                <value>100</value>
            </setting>
        </NETS_iMan.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NETS_iMan.Properties.Settings>
            <setting name="NETS_iMan_iManWebsvc_DirService" serializeAs="String">
                <value>http://sso.nets.co.kr/iManService/DirService.asmx</value>
            </setting>
            <setting name="NETS_iMan_chatWebsvc_ChatService" serializeAs="String">
                <value>http://sso.nets.co.kr/iManService/ChatService.asmx</value>
            </setting>
        </NETS_iMan.Properties.Settings>
    </applicationSettings>
</configuration>